<div class="grid-item">
  <%= image_tag 'img_tavon_wilson.jpg', alt: 'Tavon Wilson', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Tavon Wilson</h2>
    <ul class="grid-item-view-list">
      <li>
        <span>Position:</span>
        <span><%= athlete.position %></span>
      </li>
      <li>
        <span>Team:</span>
        <span><%= athlete.american_team_url %></span>
      </li>
      <li>
        <span>Born:</span>
        <span><%= athlete.birthdate %></span>
      </li>
      <li>
        <span>Height:</span>
        <span><%= athlete.height %></span>
      </li>
      <li>
        <span>Weight:</span>
        <span><%= athlete.weight %></span>
      </li>
      <li>
        <span>VISIT WEBSITE</span>
      </li>
      <li>
        <span>College:</span>
        <span><%= athlete.college %></span>
      </li>
      <li>
        <a href="#" class="grid-item-view-button">FULL BIOGRAPHY</a>
      </li>
    </ul>
  </div>
</div>