<div class="grid-item">
  <%= image_tag athlete.photo.url, alt: 'Tavon Wilson', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">
      <%= "#{athlete.first_name} #{athlete.last_name}" %>
    </h2>
    <ul class="grid-item-view-list">
      <li>
        <span>Position:</span>
        <span><%= athlete.position %></span>
      </li>
      <li>
        <span>Team:</span>
        <span><%= link_to athlete.american_team_name, athlete.american_team_url, class: 'red' %></span>
      </li>
      <li>
        <span>Born:</span>
        <span><%= athlete.birthdate.strftime("%m/%d/%Y") if athlete.birthdate %></span>
      </li>
      <li>
        <span>Height:</span>
        <span><%= athlete.height %></span>
      </li>
      <li>
        <span>Weight:</span>
        <span><%= athlete.weight %></span>
      </li>
      <li>
        <span><%= link_to 'Website', athlete.website_url, class: 'red' %></span>
      </li>
      <li>
        <span>College:</span>
        <span><%= athlete.college %></span>
      </li>
      <li>
        <div class="flag-container">
          <%= image_tag flag_url(athlete), class: 'flag-icon', alt: 'US' %>
        </div>
      </li>
      <li>
        <% unless @sport.id == 2 %>
          <a href="<%= athlete_path(athlete.id) %>" class="grid-item-view-button">FULL BIOGRAPHY</a>
        <% end %>
      </li>
    </ul>
  </div>
</div>