<div class="grid-item">
  <%= image_tag 'img_muhammad_wilkerson.jpg', alt: 'Muhammad Wilkerson', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Muhammad Wilkerson</h2>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_tavon_wilson.jpg', alt: 'Tavon Wilson', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Tavon Wilson</h2>
    <ul class="grid-item-view-list">
      <li>
        <span>POSITION:</span>
        <span>WIDE RECEIVER</span>
      </li>
      <li>
        <span>TEAM:</span>
        <span>NEW YORK JETS</span>
      </li>
      <li>
        <span>BORN:</span>
        <span>05/09/1993</span>
      </li>
      <li>
        <span>HEIGHT:</span>
        <span>6'3''</span>
      </li>
      <li>
        <span>WEIGHT:</span>
        <span>190 LBS.</span>
      </li>
      <li>
        <span>VISIT WEBSITE</span>
      </li>
      <li>
        <span>COLLEGE:</span>
        <span>TEMPLE UNIVERSITY</span>
      </li>
      <li>
        <a href="#" class="grid-item-view-button">FULL BIOGRAPHY</a>
      </li>
    </ul>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_benny_cunningham.jpg', alt: 'Benny Cunningham', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Benny Cunningham</h2>
    <ul class="grid-item-view-list">
      <li>
        <span>POSITION:</span>
        <span>WIDE RECEIVER</span>
      </li>
      <li>
        <span>TEAM:</span>
        <span>NEW YORK JETS</span>
      </li>
      <li>
        <span>BORN:</span>
        <span>05/09/1993</span>
      </li>
      <li>
        <span>HEIGHT:</span>
        <span>6'3''</span>
      </li>
      <li>
        <span>WEIGHT:</span>
        <span>190 LBS.</span>
      </li>
      <li>
        <span>VISIT WEBSITE</span>
      </li>
      <li>
        <span>COLLEGE:</span>
        <span>TEMPLE UNIVERSITY</span>
      </li>
      <li>
        <span>FULL BIOGRAPHY</span>
      </li>
    </ul>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_nick_novak.jpg', alt: 'Nick Novak', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Nick Novak</h2>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_muhammad_wilkerson.jpg', alt: 'Muhammad Wilkerson', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Muhammad Wilkerson</h2>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_tavon_wilson.jpg', alt: 'Tavon Wilson', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Tavon Wilson</h2>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_benny_cunningham.jpg', alt: 'Benny Cunningham', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Benny Cunningham</h2>
  </div>
</div>
<div class="grid-item">
  <%= image_tag 'img_nick_novak.jpg', alt: 'Nick Novak', class: 'grid-item-image' %>
  <div class="grid-item-view">
    <h2 class="grid-item-view-title">Nick Novak</h2>
  </div>
</div>