<main class="grid">
  <header class="filter-header">
    <ul class="left-filter">
      <li><%= link_to 'Centers', mens_basketball_path(position: 'Center'), class: "filter-link" %></li>
      <li><%= link_to 'Forwards', mens_basketball_path(position: 'Forward'), class: "filter-link" %></li>
      <li><%= link_to 'Guards', mens_basketball_path(position: 'Guard'), class: "filter-link" %></li>
    </ul>

    <ul class="right-filter">
      <li><%= link_to 'All', mens_basketball_path, class: "filter-link" %></li>
      <li><%= link_to 'Available', mens_basketball_path(available: true), class: "filter-link" %></li>
      <li><%= link_to 'Unavailable', mens_basketball_path(available: false), class: "filter-link" %></li>
    </ul>
  </header>
  <% 9.times do |_| %>
    <%= render partial: 'athlete', collection: @athletes %>
  <% end %>
</main>