<main>
  <section id="featured">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item">
          <%= image_tag "featured/mens_basketball/photo3.jpg", class: 'featured-img' %>
        </div>

        <div class="item">
          <%= image_tag "featured/mens_basketball/photo4.jpg", class: 'featured-img' %>
        </div>
      </div>
    </div>
  </section>

  <section class="news-section">
    <h2>Mens Basketball News</h2>

    <% @news_articles.each do | article | %>
      <a href="<%= article.url %>">
        <h3 class="red"><%= article.headline %></h3>
        <h4><%= article.date_posted %></h4>
      </a>
    <% end %>
  </section>
</main>
