<main class="grid">
  <header class="filter-header">
    <ul class="left-filter">
      <li><%= link_to 'Guards', womens_basketball_path(position: 'Guard'), class: "filter-link" %></li>
      <li><%= link_to 'Forwards', womens_basketball_path(position: 'Forward'), class: "filter-link" %></li>
      <li><%= link_to 'Centers', womens_basketball_path(position: 'Center'), class: "filter-link" %></li>
    </ul>

    <ul class="right-filter">
      <li><%= link_to 'All', womens_basketball_path, class: "filter-link" %></li>
      <li><%= link_to 'Available', womens_basketball_path(available: true), class: "filter-link" %></li>
      <li><%= link_to 'Unavailable', womens_basketball_path(available: false), class: "filter-link" %></li>
    </ul>
  </header>
  

  <div class="column">
    <h2 class="column-header">Guards</h2>
    <% 9.times do |_| %>
      <%= render partial: 'woman_athlete', collection: @athletes.where(position: "Guard") %>
    <% end %>
  </div>

  <div class="column">
    <h2 class="column-header">Forwards</h2>
    <% 9.times do |_| %>
      <%= render partial: 'woman_athlete', collection: @athletes.where(position: "Forward") %>
    <% end %>
  </div>

  <div class="column">
    <h2 class="column-header">Centers</h2>
    <% 9.times do |_| %>
      <%= render partial: 'woman_athlete', collection: @athletes.where(position: "Center") %>
    <% end %>
  </div>
</main>