<main>
  <section id="team" class="mens-basketball">
  <ul>
    <li>
      <a href="<%= boris_mens_path %>">
        <figure>
          <%= image_tag 'team/boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">FOUNDER &amp; CEO</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="one-icon">
            <a href="mailto:Borissig@aol.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/michael.jpg', alt: 'Michael', class: 'grid-item-image' %>
        </figure>
        <h2>Michael Lelchitski</h2>
        <h3 class="red">VP | MEN'S BASKETBALL EXECUTIVE DIRECTOR</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-three-icons">
            <a href="mailto:mbl@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
          <li class="second-of-three-icons">
            <a href="https://twitter.com/mike_sig" target="_new"><%= fa_icon "twitter", class: "twitter" %></a>
          </li>
          <li class="third-of-three-icons">
            <a href="https://www.facebook.com/mike.atsig" target="_new"><%= fa_icon "facebook", class: "facebook" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/sammy.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Sammy Wloszczowski</h2>
        <h3 class="red">DIRECTOR, AUSTRALASIA REGION &amp; CAREER DEVELOPMENT</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-two-icons">
            <a href="mailto:sammyw@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
          <li class="second-of-two-icons">
            <a href="https://twitter.com/sammywsig" target="_new"><%= fa_icon "twitter", class: "twitter" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/jonathan.jpg', alt: 'Jonathan', class: 'grid-item-image' %>
        </figure>
        <h2>Jonathan A. Jordan</h2>
        <h3 class="red">Director of Men’s Basketball Operations and Corporate Counsel</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-two-icons">
            <a href="mailto:jjordan@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
          <li class="second-of-two-icons">
            <a href="https://twitter.com/JJ_2" target="_new"><%= fa_icon "twitter", class: "twitter" %></a>
          </li>
        </ul>
      </footer>
    </li>
  </ul>
  </section>
</main>
