<main>
  <section id="team">
  <ul>
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="one-icon">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
        </ul>
      </footer>
    </li>
    
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-two-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
          <li class="second-of-two-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-three-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
          <li class="second-of-three-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
          <li class="third-of-three-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-three-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
          <li class="second-of-three-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
          <li class="third-of-three-icons">
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
        </ul>
      </footer>
    </li>
    
  </ul>
  </section>
</main>