<main>
  <section id="team" class="womens-basketball">
  <ul>
    <li>
      <a href="<%= boris_path %>">
        <figure>
          <%= image_tag 'team/boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">FOUNDER &amp; CEO</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="one-icon">
            <a href="mailto:Borissig@aol.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
        </ul>
      </footer>
    </li>
    
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/carolina.jpg', alt: 'Carolina', class: 'grid-item-image' %>
        </figure>
        <h2>Carolina Blanco</h2>
        <h3 class="red">EXECUTIVE DIRECTOR</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="one-icon">
            <a href="mailto:Carolinab@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/ticha.jpg', alt: 'Ticha', class: 'grid-item-image' %>
        </figure>
        <h2>Ticha Penicheiro</h2>
        <h3 class="red">WNBA/FIBA CERTIFIED AGENT</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-two-icons">
            <a href="mailto:tichap@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
          <li class="second-of-two-icons">
            <a href="https://twitter.com/tichapenicheiro" target="_new"><%= fa_icon "twitter" , class: "twitter" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/sammy.jpg', alt: 'Sammy', class: 'grid-item-image' %>
        </figure>
        <h2>Sammy Wloszczowski</h2>
        <h3 class="red">DIRECTOR, AUSTRALASIA REGION &amp; CAREER DEVELOPMENT</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-two-icons">
            <a href="mailto:sammyw@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
          <li class="second-of-two-icons">
            <a href="https://twitter.com/sammywsig" target="_new"><%= fa_icon "twitter", class: "twitter" %></a>
          </li>
        </ul>
      </footer>
    </li>

    <li>
      <a href="#">
        <figure>
          <%= image_tag 'team/jonathan.jpg', alt: 'Jonathan', class: 'grid-item-image' %>
        </figure>
        <h2>Jonathan A. Jordan</h2>
        <h3 class="red">Director of Men’s Basketball Operations and Corporate Counsel</h3>
      </a>
      <footer>
        <ul class="team-social-media-icons">
          <li class="first-of-two-icons">
            <a href="mailto:jjordan@sigsports.com"><%= fa_icon "envelope-o", class: "email" %></a>
          </li>
          <li class="second-of-two-icons">
            <a href="https://twitter.com/JJ_2" target="_new"><%= fa_icon "twitter", class: "twitter" %></a>
          </li>
        </ul>
      </footer>
    </li>
  </ul>
  </section>
</main>
