<main>
  <section id="team">
  <ul>
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
      <footer>
        <ul class="social-media-icons">
          <li>
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
        </ul>
      </footer>
    </li>
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
      <footer>
        <ul class="social-media-icons">
          <li>
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
          <li>
            <a href="#"><%= fa_icon "twitter 2x" %></a>
          </li>
        </ul>
      </footer>
    </li>
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
    </li>
    <li>
      <a href="#">
        <figure>
          <%= image_tag 'img_boris.jpg', alt: 'Boris', class: 'grid-item-image' %>
        </figure>
        <h2>Boris Lelchitski</h2>
        <h3 class="red">Founder &amp; CEO</h3>
      </a>
    </li>
    
  </ul>
  </section>
</main>