<main id="athlete">
  <div class="box">
    <h1>
      <%= "#{@athlete.first_name} #{@athlete.last_name}" %>
    </h1>

    <section class="athlete-info-container">
      <figure>
        <%= image_tag @athlete.photo.url, alt: 'Tavon Wilson', class: 'grid-item-image' %>
      </figure>
      
      <ul class="athlete-info">
        <% if @athlete.country_code %>
          <li>
            <div class="flag-container">
              <%= image_tag flag_url(@athlete), class: 'flag-icon', alt: 'US' %>
            </div>
          </li>
        <% end %>

        <% if @athlete.position %>
          <li>
            <span>Position:</span>
            <span><%= @athlete.position %></span>
          </li>
        <% end %>

        <% unless @athlete.american_team_name.empty? %>
          <li>
            <span>Team:</span>
            <span><%= link_to @athlete.american_team_name, @athlete.american_team_url, class: 'red' %></span>
          </li>
        <% end %>

        <% if @athlete.birthdate %>
          <li>
            <span>Born:</span>
            <span><%= @athlete.birthdate.strftime("%m/%d/%Y") %></span>
          </li>
        <% end %>

        <% unless @athlete.height.empty? %>
          <li>
            <span>Height:</span>
            <span><%= @athlete.height %></span>
          </li>
        <% end %>

        <% unless @athlete.weight.empty? %>
          <li>
            <span>Weight:</span>
            <span><%= @athlete.weight %></span>
          </li>
        <% end %>

        <% unless @athlete.college.empty? %>
          <li>
            <span>College:</span>
            <span><%= @athlete.college %></span>
          </li>
        <% end %>

        <% unless @athlete.website_url.empty? %>
          <li>
            <span><%= link_to 'Website', @athlete.website_url, class: 'red' %></span>
          </li>
        <% end %>
      </ul>
    </section>
    <section class="athlete-description-box">
      <%= raw @athlete.description %>
    </section>

    <% unless @athlete.video_embed_code.blank? %>
      <section id="video-section">
        <div id="video-container">
          <hr>
          <%= raw @athlete.video_embed_code %>
        </div>
      </section>
    <% end %>
  </div>
</main>
