<main id="athlete">
  <div class="box">
    <h1>
      <%= "#{@athlete.first_name} #{@athlete.last_name}" %>
    </h1>

    <section class="athlete-info-container">
      <figure>
        <%= image_tag @athlete.photo.url, alt: 'Tavon Wilson', class: 'grid-item-image' %>
      </figure>
      <ul class="athlete-info">
        <li>
          <span>Position:</span>
          <span><%= @athlete.position %></span>
        </li>
        <li>
          <span>Team:</span>
          <span><%= link_to @athlete.american_team_name, @athlete.american_team_url, class: 'white' %></span>
        </li>
        <li>
          <span>Born:</span>
          <span><%= @athlete.birthdate.strftime("%m/%d/%Y") %></span>
        </li>
        <li>
          <span>Height:</span>
          <span><%= @athlete.height %></span>
        </li>
        <li>
          <span>Weight:</span>
          <span><%= @athlete.weight %></span>
        </li>
        <li>
          <span>College:</span>
          <span><%= @athlete.college %></span>
        </li>
        <li>
          <span><%= link_to 'Website', @athlete.website_url, class: 'red' %></span>
        </li>
      </ul>
    </section>
    <section class="athlete-description-box">
      Professional Career

      PROFESSIONAL OVERSEAS CAREER:

  2015-2016: Touluse, France

  16 games: 16.8ppg, 7.4rpg, FGP: 54.8%, 3PT: 33.3%, FT: 79.2%
  2014-2015: Henan Yichuan (China)

  10 games: 24.1ppg, 9.2rpg, 1.1spg, FGP: 60.0%, 3PT: 19.0%, FT: 81.7%
  2013-2014: UNIQA Euroleasing Sopron

  17 games: 16.8ppg, 6.1rpg, 1.4apg, FGP: 68.7%, 3PT: 48.6%, FT: 73.3%
  EuroLeague

  14 games: 16.1ppg, 6.2rpg, FGP: 55.3%, 3PT: 25.0%, FT: 85.4%
  Middle European League

  21 games: 16.0ppg, 5.3rpg, FGP: 64.6%, 3PT: 29.3%, FT: 79.0%
  *Hungarian League Regular Season Champion

  *Hungarian League Semifinals

  PROFESSIONAL WNBA CAREER:

  *2014 Season: Traded to the Washington Mystics 

  2014 Season Washington Mystics:

  34 games: 10.0MPG, 47.9%FG, 29.4%3PT, 71.9%3PT, 3.0RPG, 4.2PPG
  2013 Season: Seattle Storm

  33 games: 9.7MPG, 52.7%FG, 23.8%3PT, 84.6%FT, 1.6RPG, 3.4PPG
  COLLEGE CAREER:

  Joined current WNBA players Marissa Coleman and Crystal Langhorne as the only Terrapins in history with 1,000 career rebounds
  Ranked 2nd in ACC in rebounding and tops in offensive boards (2012-2013)
  Named to All-ACC First Team
  Averaged 18.3ppg, an 11.0- point improvement from her sophomore year (2012-2013)
  Had 15 double-doubles and scored in double figures in 28 games (2012-2013)
  Named All-ACC Second Team (2011-2012) with FG percentage of 62.3 percent
  Had 12 double-doubles in 36 games (2011-2012)
  Started in 18 games and saw action in all 32 (2010-2011)
  Led the team in rebounding in seven games
  Grabbed her 300th career rebound against Loyola (Dec. 7, 2010)
  Scored her 400th point against UMBC (Dec. 10, 2010)
  Played in all 34 games earning 9 starts (2009-2010)
  Had seven double-doubles and two 20-plus point performances (2009-2010)
  Finished at No. 5 in Maryland freshman record books in rebound average (7.5), total rebounds (256) and No. 4 in blocked shots (33) (2009-2010)
  Averaged 7.5rpg and .568 FGP(2009-2010)
    </section>

    <% if @athlete.video_url %>
      <section id="video-section">
        <div id="video-container">
          <hr>
          <%= embed_youtube(@athlete.video_url) %>
        </div>
      </section>
    <% end %>
  </div>
</main>








