<nav>
  <ul>
    <li class="dropdown">
      <a class="dropdown-toggle" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Who We Are
      </a>
      <ul class="dropdown-menu">
        <li><a href="<%= womens_basketball_about_path %>">About Us</a></li>
        <li><a href="<%= womens_basketball_team_path %>">Meet Our Team</a></li>
        <li><a href="<%= womens_basketball_testimonials_path %>">Testimonials</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        What We Do
      </a>
      <ul class="dropdown-menu">
        <li><a href="<%= womens_basketball_professional_management_path %>">Professional Management</a></li>
        <li><a href="<%= womens_basketball_career_path %>">Career Development</a></li>
        <li><a href="<%= womens_basketball_personal_management_path %>">Personal Management</a></li>
        <li><a href="<%= womens_basketball_marketing_path %>">Marketing &amp; Philanthropy</a></li>
      </ul>
    </li>

    <li class="dropdown">
      <a class="dropdown-toggle" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Clients
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'WNBA', womens_basketball_path(wnba_status: 'WNBA') %></li>
        <li><%= link_to 'Professional Overseas', womens_basketball_path(wnba_status: 'Professional Overseas') %></li>
      </ul>
    </li>



    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
<footer>
  <ul class="social-media-icons">
    <li>
      <a href="https://twitter.com/SportsIntGroup" class="twitter" target="_blank">
        <%= fa_icon "twitter 2x" %>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/user/SigSportsInc" class="youtube" target="_blank">
        <%= fa_icon "youtube 2x" %>
      </a>
    </li>
  </ul>
  <ul>
    <li class="footer-links"><a href="http://www.fibaeurope.com/default.asp">FIBA</a></li>
     <li class="footer-links"> I </li>
    <li class="footer-links"><a href="http://www.wnba.com/">WNBA</a></li>
  </ul>
  <p>&copy; SIG Sports</p>
</footer>