<nav>
  <ul>
    <li><a href="<%= womens_basketball_about_path %>">Who We Are</a></li>
    
    <li class="dropdown">
      <a class="dropdown-toggle" data-target="#" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        What We Do
      </a>
      <ul class="dropdown-menu">
        <li><a href="<%= womens_basketball_professional_management_path %>">Professional Management</a></li>
        <li><a href="<%= womens_basketball_career_path %>">Career Development</a></li>
        <li><a href="<%= womens_basketball_personal_management_path %>">Personal Management</a></li>
        <li><a href="<%= womens_basketball_marketing_path %>">Marketing &amp; Philanthropy</a></li>
      </ul>
    </li>

    <li><a href="<%= womens_basketball_path %>">Clients</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
</nav>
<footer>
  <ul class="social-media-icons">
    <li>
      <a href="#" class="twitter" target="_blank">
        <%= fa_icon "twitter 2x" %>
      </a>
    </li>
    <li>
      <a href="#" class="youtube" target="_blank">
        <%= fa_icon "youtube 2x" %>
      </a>
    </li>
  </ul>
  <p>&copy; SIG Sports</p>
</footer>