<div id="sidebar">
  <header>
    <h1>
      <a href="<%= root_path %>">
        <%= image_tag 'logo.png', alt: 'SIG Sports' %>
      </a>
    </h1>
  </header>

  <% if @sport.womens_basketball? %>
  <nav>
    <ul>
      <li><a href="<%= football_about_path %>">Who We Are</a></li>
      <li><a href="#">What We Do</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
  </nav>
  <footer>
    <ul class="social-media-icons">
      <li>
        <a href="#" class="twitter" target="_blank">
          <%= fa_icon "twitter 2x" %>
        </a>
      </li>
      <li>
        <a href="#" class="youtube" target="_blank">
          <%= fa_icon "youtube 2x" %>
        </a>
      </li>
    </ul>

    <p>&copy; SIG Sports</p>
  </footer>
  <% end %>
</div>