<%#
# Sidebar

This partial is used to display the sidebar in Administrate.
By default, the sidebar contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<ul class="sidebar__list">
  <% if false %>
    <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
      <li>
        <%= link_to(
          display_resource_name(resource),
          [namespace, resource],
          class: "sidebar__link sidebar__link--#{nav_link_state(resource)}"
        ) %>
      </li>
    <% end %>
  <% else %>

    <li>
      <%= link_to(
        'Womens Basketball',
        admin_sport_path(3),
        class: "sidebar__link sidebar__link--#{nav_link_state(:sport)}"
      ) %>
    </li>
    <li>
      <%= link_to(
        'Mens Basketball',
        admin_sport_path(4),
        class: "sidebar__link sidebar__link--#{nav_link_state(:sport)}"
      ) %>
    </li> 
    <li>
      <%= link_to(
        'Football',
        admin_sport_path(2),
        class: "sidebar__link sidebar__link--#{nav_link_state(:sport)}"
      ) %>
    </li>

    <li>
      <%= link_to(
        'News Articles',
        admin_news_articles_path,
        class: "sidebar__link sidebar__link--#{nav_link_state(:news_articles)}"
      ) %>
    </li>

    <li>
      <%= link_to(
        'Admin Users',
        admin_admin_users_path,
        class: "sidebar__link sidebar__link--#{nav_link_state(:admin_users)}"
      ) %>
    </li>

  <% end %>
</ul>
